body {
    background-color: #eeffee;
    font-family: 'Helvetica Neue', sans-serif !important;
}

.section #customers tr th {
    text-align: center;
    justify-content: center;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.greet {
    font-weight: bold !important;
    font-size: 20px;
}

.name {
    font-weight: bold !important;
    font-size: 15px;
}


.box {
    position: relative;
}

.input {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 4px solid gray;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: gray;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 150px;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: gray;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

/* YouTube icon */
#ytb {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 52px;
    border: 2px solid transparent;
    color: #ff1717;
    font-size: 25px;
    transition: 0.3s;
}

#ytb:hover {
    border-radius: 50%;
    border-color: #ff1717;
    box-shadow: 0 0 10px #ff4040;
}

.container {
    width: 99%;
    height: 100vh;
}

.header {
    border: 1px solid black;
    text-align: left;
    height: 15vh;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #fff5ee;
}

.section {
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    width: 85%;
    height: 70vh;
    box-sizing: border-box;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    padding-left: 40px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aside {
    border: 1px solid black;
    text-align: center;
    width: 15%;
    height: 70vh;
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    border: 1px solid black;
    text-align: center;
    padding: 40px 40px;
    height: 15vh;
    box-sizing: border-box;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5ee;
}

.div-header-first {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
}

.div-header-last {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.div-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    background: #131313;
    font-family: 'Helvetica Neue', sans-serif;
}

h1 a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.popover {
    display: none;
    box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popover:target {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover .content {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0;
    height: 0;
    color: black;
    background-color: #eef1ff;
    animation: 1s grow ease forwards;
    text-align: center;
}

.nav_list {
    list-style-type: none;
}

.nav_list a {
    text-decoration: none;
    font-size: 50px;
    color: black;
}

.nav_list_item {
    height: 100%;
    overflow: hidden;
}

.nav_list li {
    padding: 15px 0;
    text-transform: uppercase;
    transform: translateY(200px);
    opacity: 0;
    animation: 2s slideUp ease forwards .5s;
    position: relative;
}

.nav_list li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: #BF2E97;
    transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
    padding: 50px;
    opacity: 0;
    animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #BF2E97;
    color: #fff;
    content: "×";
    cursor: pointer;
    opacity: 0;
    animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
    100% {
        height: 90%;
        width: 90%;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}














































html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.form {
    background-color: #fbeeff;
    border-radius: 20px;
    box-sizing: border-box;
    height: 400px;
    padding: 20px;
    width: 320px;
}

.title {
    color: black;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
}

.subtitle {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #fbeeff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #fbeeff;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}