body{
    overflow-x: hidden;
}

.card{
    border: 1px solid transparent;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.03);
}

img:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body img{
    border-radius: 24px;
    transition: box-shadow 0.3s ease;
}

